<settings>

    <setting propertyKey="@Properties.BackgroundColor" title="@Strings.BackgroundColorTitle">
        <settingConfig type="list">
            <listEntry value="0x000000">@Strings.ColorBlack</listEntry>
            <listEntry value="0x555555">@Strings.ColorDarkGray</listEntry>
            <listEntry value="0xAAAAAA">@Strings.ColorLightGray</listEntry>
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
            <listEntry value="0x63563B">@Strings.ColorOlive</listEntry>
            <listEntry value="0xfeddb0">@Strings.ColorYellow</listEntry>
            <listEntry value="0xd7d0e2">@Strings.ColorLavender</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.ForegroundColor" title="@Strings.ForegroundColorTitle">
        <settingConfig type="list">
            <listEntry value="0x000000">@Strings.ColorBlack</listEntry>
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
            <listEntry value="0x63563B">@Strings.ColorOlive</listEntry>
            <listEntry value="0xfeddb0">@Strings.ColorYellow</listEntry>
            <listEntry value="0xd7d0e2">@Strings.ColorLavender</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.TextColor" title="@Strings.TextColorTitle">
        <settingConfig type="list">
            <listEntry value="0x000000">@Strings.ColorBlack</listEntry>
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
            <listEntry value="0x63563B">@Strings.ColorOlive</listEntry>
            <listEntry value="0xfeddb0">@Strings.ColorYellow</listEntry>
            <listEntry value="0xd7d0e2">@Strings.ColorLavender</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.MildColor" title="@Strings.MildColorTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.ColorWhite</listEntry>
            <listEntry value="1">@Strings.ColorBlack</listEntry>            
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.Complication1" title="@Strings.Complication1">
        <settingConfig type="list">
            <listEntry value="0">@Strings.Battery</listEntry>
            <listEntry value="1">@Strings.Steps</listEntry>
            <listEntry value="2">@Strings.Date</listEntry>
            <listEntry value="3">@Strings.HeartRate</listEntry>
            <listEntry value="4">@Strings.ActiveMinutes</listEntry>
            <listEntry value="-1">@Strings.None</listEntry>            
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.Complication2" title="@Strings.Complication2">
        <settingConfig type="list">
            <listEntry value="0">@Strings.Battery</listEntry>
            <listEntry value="1">@Strings.Steps</listEntry>
            <listEntry value="2">@Strings.Date</listEntry>
            <listEntry value="3">@Strings.HeartRate</listEntry>
            <listEntry value="4">@Strings.ActiveMinutes</listEntry>
            <listEntry value="-1">@Strings.None</listEntry>            
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.Complication3" title="@Strings.Complication3">
        <settingConfig type="list">
            <listEntry value="0">@Strings.Battery</listEntry>
            <listEntry value="1">@Strings.Steps</listEntry>
            <listEntry value="2">@Strings.Date</listEntry>
            <listEntry value="3">@Strings.HeartRate</listEntry>
            <listEntry value="4">@Strings.ActiveMinutes</listEntry>
            <listEntry value="-1">@Strings.None</listEntry>              
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.UseMilitaryFormat" title="@Strings.MilitaryFormatTitle">
        <settingConfig type="boolean" />
    </setting>

</settings>
