<settings>

    <setting propertyKey="@Properties.BackgroundColor" title="@Strings.BackgroundColorTitle">
        <settingConfig type="list">
            <listEntry value="0x000000">@Strings.ColorBlack</listEntry>
            <listEntry value="0x555555">@Strings.ColorDarkGray</listEntry>
            <listEntry value="0xAAAAAA">@Strings.ColorLightGray</listEntry>
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
            <listEntry value="0x66663B">@Strings.ColorOlive</listEntry>
            <listEntry value="0xFFF7CB">@Strings.ColorYellow</listEntry>
            <listEntry value="0xD7D0E2">@Strings.ColorLavender</listEntry>
            <listEntry value="0xFD5200">@Strings.ColorSpice</listEntry> 
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.TextColor" title="@Strings.TextColorTitle">
        <settingConfig type="list">
            <listEntry value="0x000000">@Strings.ColorBlack</listEntry>
            <listEntry value="0x555555">@Strings.ColorDarkGray</listEntry>
            <listEntry value="0xAAAAAA">@Strings.ColorLightGray</listEntry>
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
            <listEntry value="0x66663B">@Strings.ColorOlive</listEntry>
            <listEntry value="0xFFF7CB">@Strings.ColorYellow</listEntry>
            <listEntry value="0xD7D0E2">@Strings.ColorLavender</listEntry>
            <listEntry value="0xFD5200">@Strings.ColorSpice</listEntry> 
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.MildColor" title="@Strings.MildColorTitle">
        <settingConfig type="list">
            <listEntry value="0x000000">@Strings.ColorBlack</listEntry>
            <listEntry value="0x555555">@Strings.ColorDarkGray</listEntry>
            <listEntry value="0xAAAAAA">@Strings.ColorLightGray</listEntry>
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
            <listEntry value="0x66663B">@Strings.ColorOlive</listEntry>
            <listEntry value="0xFFF7CB">@Strings.ColorYellow</listEntry>
            <listEntry value="0xD7D0E2">@Strings.ColorLavender</listEntry>
            <listEntry value="0xFD5200">@Strings.ColorSpice</listEntry> 
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.ShowSeconds" title="@Strings.ShowSecondsTitle">
        <settingConfig type="boolean" />
    </setting>

</settings>